<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">@header.HeaderText</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#malzemeDetayNavbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="malzemeDetayNavbarContent">



            <ul class="nav navbar-nav ms-auto">
                <li>
                    <EditForm Model="header" class="form-inline my-2 my-lg-0">

                        <InputText @bind-Value="header.MalzemeAdi" placeholder="Stok Adı" class="form-control mr-sm-2" />
                        <InputText @bind-Value="header.MalzemeMarka" placeholder="Marka" class="form-control mr-sm-2" />
                        <InputText @bind-Value="header.SearchText" placeholder="Genel Arama" class="form-control mr-sm-2" />
                        &nbsp;
                        <button class="btn btn-outline-success my-2 my-sm-0" @onclick="SearchClicked">@ButonText</button>
                    </EditForm>

                </li>
            </ul>



    </div>
</nav>

@code {

    [Inject]
    ModalManager ModalManager { get; set; }


    [Parameter]
    public MalzemeStokRequestDto header { get; set; }


    public string ButonText = "Ara";

    [Parameter]
    public EventCallback onSearchButtonClicked { get; set; }


    protected async Task SearchClicked()
    {
        ButonText = "Aranıyor...";
        await onSearchButtonClicked.InvokeAsync();
        ButonText = "Ara";
    }

}
