<EditForm Model="raporrequest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mt-12">
        <div class="form">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Başlangıç Fatura Tarihi</label>
                        <InputDate @bind-Value="raporrequest.BaslangicTarih" class="form-control"></InputDate>
                    </div>
                    <div class="col-md-6">
                        <label>Bitiş Fatura Tarihi</label>
                        <InputDate @bind-Value="raporrequest.BitisTarih" class="form-control"></InputDate>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Fatura No</label>
                        <InputText @bind-Value="raporrequest.FatNo" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Cari Kodu</label>
                        <div class="row">
                            <div class="col">
                                <InputText @bind-Value="raporrequest.CariKodu" class="form-control" placeholder="Cari Kodu" />
                            </div>
                            <div class="col">
                                <MudButton Variant="Variant.Filled" IconColor="Color.Secondary" StartIcon="@Icons.Material.Filled.FindInPage" OnClick="CariListesiAc" Size=Size.Medium>Bul</MudButton>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Cari Adı</label>
                        <InputText @bind-Value="raporrequest.CariAdi" class="form-control" />
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Malzeme Kodu</label>
                        <div class="row">
                            <div class="col">
                                <InputText @bind-Value="raporrequest.MalzemeKodu" class="form-control" placeholder="Malzeme Kodu" />
                            </div>
                            <div class="col">
                                <MudButton Variant="Variant.Filled" IconColor="Color.Secondary" StartIcon="@Icons.Material.Filled.FindInPage" OnClick="MalzemeListesiAc" Size=Size.Medium>Bul</MudButton>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Malzeme Adı</label>
                        <InputText @bind-Value="raporrequest.MalzemeAdi" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Hizmet Kodu</label>
                        <div class="row">
                            <div class="col">
                                <InputText @bind-Value="raporrequest.HizmetKodu" class="form-control" placeholder="Hizmet Kodu" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Hizmet Adı</label>
                        <InputText @bind-Value="raporrequest.HizmetAdi" class="form-control" />
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="form-group">
        <SaveButtonComponent Caption="Tamam" OnClick="Tamam" />
        <CancelButtonComponent Caption="Vazgeç" OnClick="Vazgec" />
    </div>

</EditForm>

@code {
    [Parameter]
    public SatisFaturaAnalizRaporuRequestDto mainRequest { get; set; }

    [CascadingParameter] IModalService modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Inject]
    ISnackbar Snackbar { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }

    SatisFaturaAnalizRaporuRequestDto raporrequest = new SatisFaturaAnalizRaporuRequestDto();

    protected override async Task OnInitializedAsync()
    {
        if (mainRequest != null)
            raporrequest = mainRequest;
    }

    private async Task Tamam()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok<SatisFaturaAnalizRaporuRequestDto>(raporrequest));
    }

    public async Task Vazgec()
    {
        await ModalInstance.CloseAsync();
    }

    public async Task CariListesiAc()
    {
        var opt = new ModalOptions();
        opt.ContentScrollable = true;

        var cariForm = modal.Show<Pages.Cari.Cari_Sec>("Cari Seç", opt);
        var result = await cariForm.Result;

        if (!result.Cancelled)
        {
            if (result.Data != null)
            {
                var cariSecim = (VCariKartDto)result.Data;
                raporrequest.CariKodu = cariSecim.Kodu;
            }

        }
    }

    public async Task MalzemeListesiAc()
    {
        var opt = new ModalOptions();
        opt.ContentScrollable = true;

        var cariForm = modal.Show<Pages.Malzeme.Malzeme_Sec>("Malzeme Seç", opt);
        var result = await cariForm.Result;

        if (!result.Cancelled)
        {
            if (result.Data != null)
            {
                var Secim = (VMalzemeKartDto)result.Data;
                raporrequest.MalzemeKodu = Secim.Kodu;
            }

        }
    }
}
