<EditForm Model="servisrequest">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mt-12">
        <div class="form">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Başlangıç Tarih</label>
                        <InputDate @bind-Value="servisrequest.BaslangicTarih" class="form-control"></InputDate>
                    </div>
                    <div class="col-md-6">
                        <label>Bitiş Tarih</label>
                        <InputDate @bind-Value="servisrequest.BitisTarih" class="form-control"></InputDate>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Müşteri Adı</label>
                        <InputText @bind-Value="servisrequest.Cariadi" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Bayi Adı</label>
                        <InputText @bind-Value="servisrequest.Bayiadi" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Servis Adı</label>
                        <InputText @bind-Value="servisrequest.Servisadi" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Kişi Adı</label>
                        <InputText @bind-Value="servisrequest.Kisiadi" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>İş Tipi</label>
                        <select class="form-control" @bind="servisrequest.Istipi">
                            <option value="">Seçiniz</option>
                            <option value="MONTAJ">MONTAJ</option>
                            <option value="SERVİS">SERVİS</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Evrak No</label>
                        <InputText @bind-Value="servisrequest.Evrakno" class="form-control" />
                    </div>
                </div>

            </div>

        </div>
    </div>


    <div class="form-group">
        <SaveButtonComponent Caption="Tamam" OnClick="Tamam" />
        <CancelButtonComponent Caption="Vazgeç" OnClick="Vazgec" />
    </div>

</EditForm>

@code {
    [Parameter]
    public ServisRequestDto mainRequest { get; set; }

    [CascadingParameter] IModalService modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] ModalParameters modalParameters { get; set; }

    [Inject]
    ISnackbar Snackbar { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }

    ServisRequestDto servisrequest = new ServisRequestDto();

    protected override async Task OnInitializedAsync()
    {
        if (mainRequest != null)
            servisrequest = mainRequest;
    }

    private async Task Tamam()
    {
        await ModalInstance.CloseAsync(ModalResult.Ok<ServisRequestDto>(servisrequest));
    }

    public async Task Vazgec()
    {
        await ModalInstance.CloseAsync();
    }
}
