@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">@loginStr</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    public string loginStr = "About";

    [Inject]
    ILocalStorageService localStorage { get; set; }

    [Inject]
    NavigationManager NavigationManager { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {
            loginStr = await localStorage.GetItemAsStringAsync("kullanicikodu");
        }
        else
        {
            NavigationManager.NavigateTo("login");
        }
    }
}
