
<EditForm Model="teklifDetay">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mt-12">
        <div class="form">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Çizim Kodu</label>
                        <InputText @bind-Value="teklifDetay.Cizimkodu" class="form-control" placeholder="Çizim Kodu" />
                    </div>
                    <div class="col-md-4">
                        <label>Poz No</label>
                        <InputText @bind-Value="teklifDetay.Sipnosira" class="form-control" placeholder="Poz no" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>Malzeme Kodu</label>
                        <InputText @bind-Value="teklifDetay.Malzkodu" class="form-control" placeholder="Stok Kodu" />
                    </div>
                    <div class="col-md-4">
                        <label>Malzeme Tanımı</label>
                        <InputText @bind-Value="teklifDetay.Malzadi" class="form-control" placeholder="Stok Adı" />
                    </div>
                    <div class="col-md-2">
                        <label>Malzemeler</label>
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.FindInPage"
                                   OnClick="MalzemeListesiAc"
                                   Color="Color.Info" Size="Size.Medium">Bul</MudButton>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Marka</label>
                        <InputText @bind-Value="teklifDetay.Marka" class="form-control" placeholder="Marka" disabled />
                    </div>
                    <div class="col-md-3">
                        <label>Menşei</label>
                        <InputText @bind-Value="teklifDetay.Mensei" class="form-control" placeholder="Menşei" disabled />
                    </div>
                    <div class="col-md-3">
                        <label>Ebat</label>
                        <InputText @bind-Value="teklifDetay.Ebat" class="form-control" placeholder="Ebat" disabled />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <label>Mitar</label>
                        <InputNumber @bind-Value="pageMiktar" class="form-control" placeholder="Miktar" />
                    </div>
                    <div class="col-md-2">
                        <label>Birim</label>
                        <InputText @bind-Value="teklifDetay.Birimkodu" class="form-control" placeholder="Birim" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>Fiyat</label>
                        <InputNumber @bind-Value="teklifDetay.Fiyat" class="form-control" placeholder="Fiyat" disabled />
                    </div>
                    <div class="col-md-1">
                        <label>Döviz</label>
                        <InputSelect @bind-Value="teklifDetay.Dovizref" class="form-control">
                            <option value="-1">@Utils.Mesajlar.Seciniz</option>
                            @if (DovizListesi != null)
                            {
                                @foreach (var item in DovizListesi)
                                {
                                    <option value="@item.CURTYPE">@item.CURCODE</option>
                                }
                            }
                        </InputSelect>
                    </div>
                    <div class="col-md-2">
                        <label>Tutar</label>
                        <InputNumber @bind-Value="teklifDetay.Tutar" class="form-control" placeholder="Tutar" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>İsk-1 %</label>
                        <InputNumber @bind-Value="pageIskYuz1" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label>İsk-1 Tutar</label>
                        <InputNumber @bind-Value="teklifDetay.Isktut1" class="form-control" disabled />
                    </div>
                    <div class="col-md-1">
                        <label>İsk-2 %</label>
                        <InputNumber @bind-Value="pageIskYuz2" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label>İsk-2 Tutar</label>
                        <InputNumber @bind-Value="teklifDetay.Isktut2" class="form-control" disabled />
                    </div>
                    <div class="col-md-1">
                        <label>İsk-3 %</label>
                        <InputNumber @bind-Value="pageIskYuz3" class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <label>İsk-3 Tutar</label>
                        <InputNumber @bind-Value="teklifDetay.Isktut3" class="form-control" disabled />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-1">
                        <label>İsk-Genel %</label>
                        <InputNumber @bind-Value="teklifDetay.Iskyuz4" class="form-control" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>İsk-Genel Tutar</label>
                        <InputNumber @bind-Value="teklifDetay.Isktut4" class="form-control" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>KDV Mahrahı</label>
                        <InputNumber @bind-Value="teklifDetay.Kdvmatrah" class="form-control" disabled />
                    </div>
                    <div class="col-md-1">
                        <label>KDV %</label>
                        <InputNumber @bind-Value="teklifDetay.Kdvyuz" class="form-control" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>KDV Tutarı</label>
                        <InputNumber @bind-Value="teklifDetay.Kdvtut" class="form-control" disabled />
                    </div>
                    <div class="col-md-2">
                        <label>Net Tutar</label>
                        <InputNumber @bind-Value="teklifDetay.Nettutar" class="form-control" disabled />
                    </div>
                </div>
            </div>

        </div>
            </div>


            <div class="form-group">
                <SaveButtonComponent Caption="Kaydet" OnClick="ValidSubmit" />
                <CancelButtonComponent Caption="Vazgeç" OnClick="Vazgec" />
            </div>

</EditForm>

@code {

    [CascadingParameter] IModalService modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] ModalParameters modalParameters { get; set; }

    [Inject]
    ISnackbar Snackbar { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    [Inject]
    NavigationManager navigation { get; set; }

    [Inject]
    HttpClient httpClient { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; }

    [Parameter]
    public int? logRef { get; set; }

    [Parameter]
    public int? teklifRef { get; set; }

    [Parameter]
    public EventCallback OnVazgecClicked { get; set; }

    public bool IsUpdate { get; set; }

    TeklifDetayDto teklifDetay = new TeklifDetayDto();

    public List<DovizDto> DovizListesi { get; set; }

    private bool _TeklifDetayCekildi = false;

    private double? _pageMiktar = 1;
    public double? pageMiktar
    {
        get
        {
            _pageMiktar = teklifDetay.Miktar;
            return _pageMiktar;
        }
        set
        {
            _pageMiktar = value;
            teklifDetay.Miktar = value;

            CalculateTeklifDetay();
        }
    }

    private double? _pageIskYuz1 = 0;
    public double? pageIskYuz1
    {
        get
        {
            _pageIskYuz1 = teklifDetay.Iskyuz1;
            return _pageIskYuz1;
        }
        set
        {
            _pageIskYuz1 = value;
            teklifDetay.Iskyuz1 = value;

            CalculateTeklifDetay();
        }
    }

    private double? _pageIskYuz2 = 0;
    public double? pageIskYuz2
    {
        get
        {
            _pageIskYuz2 = teklifDetay.Iskyuz2;
            return _pageIskYuz2;
        }
        set
        {
            _pageIskYuz2 = value;
            teklifDetay.Iskyuz2 = value;

            CalculateTeklifDetay();
        }
    }

    private double? _pageIskYuz3 = 0;
    public double? pageIskYuz3
    {
        get
        {
            _pageIskYuz3 = teklifDetay.Iskyuz3;
            return _pageIskYuz3;
        }
        set
        {
            _pageIskYuz3 = value;
            teklifDetay.Iskyuz3 = value;

            CalculateTeklifDetay();
        }
    }

    protected override Task OnParametersSetAsync()
    {
        IsUpdate = logRef.HasValue;
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        IsUpdate = logRef.HasValue;

        if (IsUpdate && !_TeklifDetayCekildi)
        {
            await GetTeklifDetay();
        }
        else
        {
            await GetTeklifDetaySiraNo();
        }


        await DovizListesiGetir();
    }

    public async Task GetTeklifDetaySiraNo()
    {
        try
        {
            if (!string.IsNullOrEmpty(teklifDetay.Sipnosira))
                return;

            if (teklifRef == null)
                return;

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);
            if (selectedFirmaDonem == null)
                throw new Exception("Firma dönem seçilmedi");

            var result = await httpClient.GetServiceResponseAsync<string>(UrlHelper.TeklifDetaySiraNo + "?teklifref=" + teklifRef + "&firmaId=" + selectedFirmaDonem.firma_no.Value);

            teklifDetay.Sipnosira = result;
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    public async Task GetTeklifDetay()
    {
        try
        {

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);
            if (selectedFirmaDonem == null)
                throw new Exception("Firma dönem seçilmedi");

            teklifDetay = await httpClient.GetServiceResponseAsync<TeklifDetayDto>(UrlHelper.TeklifDetayGetir + "?logref=" + logRef + "&firmaId=" + selectedFirmaDonem.firma_no.Value);

            _TeklifDetayCekildi = true;
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    public async Task LogRefUret()
    {
        var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);
        if (selectedFirmaDonem == null)
            throw new Exception("Firma dönem seçilmedi");


        var result2 = await httpClient.GetServiceResponseAsync<string>("/api/helper/GenerateRef?table=teklifdetay&keyField=logref&firmaId=" + selectedFirmaDonem.firma_no.Value);
        if (string.IsNullOrEmpty(result2) == false)
        {
            teklifDetay.Logref = Convert.ToInt32(result2);
        }

    }

    public async Task DovizListesiGetir()
    {
        try
        {
            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            if (selectedFirmaDonem == null)
                throw new Exception("Firma Dönem Seçili değil");

            var result = await httpClient.GetServiceResponseAsync<List<DovizDto>>(UrlHelper.DovizListesi + "?logofirmno=" + selectedFirmaDonem.firma_no);
            if (result != null)
            {
                DovizListesi = result;
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

    public async Task MalzemeListesiAc()
    {
        var opt = new ModalOptions();
        opt.ContentScrollable = true;

        var form = modal.Show<Pages.Malzeme.Malzeme_Sec>("Malzeme Seç",options: opt);
        var result = await form.Result;

        if (!result.Cancelled)
        {
            if (result.Data != null)
            {
                var mkart = (MalzemeKartDto)result.Data;
                teklifDetay.LstokId = mkart.Logref;
                teklifDetay.Malzadi = mkart.Adi;
                teklifDetay.Malzkodu = mkart.Kodu;
                teklifDetay.Birimkodu = mkart.Birimkodu;
                teklifDetay.Marka = mkart.Descr;
                teklifDetay.Mensei = mkart.Definition;
                teklifDetay.Ebat = mkart.Ebatt;
                if (mkart.Kodu.StartsWith("UMOTA"))
                {
                    teklifDetay.Fiyat = mkart.Satfiyat;
                    switch (mkart.SatfiyatDov)
                    {
                        case "TL":
                            teklifDetay.Dovizref = 160;
                            break;
                        case "USD":
                            teklifDetay.Dovizref = 1;
                            break;
                        case "EUR":
                            teklifDetay.Dovizref = 20;
                            break;
                        case "GBP":
                            teklifDetay.Dovizref = 17;
                            break;
                        case "CHF":
                            teklifDetay.Dovizref = 1;
                            break;
                        default:
                            teklifDetay.Dovizref = 160;
                            break;
                    }
                    teklifDetay.Maliyet1 = mkart.Alfiyat;
                    teklifDetay.Maliyet2 = mkart.Alfiyat;
                } else
                {
                    await FiyatGetir();
                }
            }

        }
    }

    public async Task ValidSubmit()
    {
        if (IsUpdate)
            await UpdateTeklifDetay();
        else
            await SaveTeklifDetay();

        modalParameters = new ModalParameters();
        modalParameters.Add("teklifDetay", teklifDetay);
        await ModalInstance.CloseAsync(ModalResult.Ok<TeklifDetayDto>(teklifDetay));
    }

    private async Task UpdateTeklifDetay()
    {
        try
        {
            teklifDetay.Upddate = DateTime.Now;
            teklifDetay.Upduser = await LocalStorageService.GetItemAsync<string>(Consts.KullaniciKodu);
            teklifDetay.Status = 1;

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            var request = new TeklifDetayRequestDto();
            request.TeklifDetay = teklifDetay;
            request.FirmaId = selectedFirmaDonem.firma_no.Value;

            var result = await httpClient.PostGetServiceResponseAsync<TeklifDetayDto, TeklifDetayRequestDto>("/api/teklifdetay/update", request);

            Snackbar.Add("Teklif güncellendi", severity:Severity.Success);

        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    private async Task SaveTeklifDetay()
    {
        try
        {
            await LogRefUret();
            teklifDetay.Insdate = DateTime.Now;
            teklifDetay.Insuser = await LocalStorageService.GetItemAsync<string>(Consts.KullaniciKodu);
            teklifDetay.Teklifref = teklifRef;
            teklifDetay.Status = 0;

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            var request = new TeklifDetayRequestDto();
            request.TeklifDetay = teklifDetay;
            request.FirmaId = selectedFirmaDonem.firma_no.Value;

            var result = await httpClient.PostGetServiceResponseAsync<TeklifDetayDto, TeklifDetayRequestDto>("/api/teklifdetay/save", request);

            Snackbar.Add("Teklif güncellendi", severity: Severity.Success);

            await ModalInstance.CloseAsync(ModalResult.Ok<TeklifDetayDto>(teklifDetay));
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Error);
        }
    }

    public async Task Vazgec()
    {
        await ModalInstance.CloseAsync();
    }

    public async Task FiyatGetir()
    {
        try
        {
            //if (teklif.Dovizrefid <= 0)
            //{
            //    throw new Exception("Döviz tipi seçmelisiniz");
            //}
            //_DovizKuruState = "Çekiliyor...";
            //teklif.Dovizkuruid = null;

            var selectedFirmaDonem = await LocalStorageService.GetItemAsync<SisFirmaDonemDto>(Consts.FirmaDonem);

            if (selectedFirmaDonem == null)
                throw new Exception("Firma Dönem Seçili değil");

            var request = new MalzemeFiyatRequestDto();
            request.Tarih = DateTime.Now;
            request.MalzemeRef = teklifDetay.LstokId.Value;
            request.CariKodu = "";
            request.BirimKodu = "ADET";
            request.DovizRef = teklifDetay.Dovizref.HasValue ? teklifDetay.Dovizref.Value : 160;
            request.LogoFirmaNo = selectedFirmaDonem.logo_firma.Value;

            var result = await httpClient.PostGetServiceResponseAsync<MalzemeFiyatDto, MalzemeFiyatRequestDto>(UrlHelper.MalzemeFiyatGetir, request);

            if (result != null)
            {
                teklifDetay.Fiyat = result.Fiyat;
                teklifDetay.Dovizref = result.DovizRef;
            }
            ////_DovizKuruState = "Güncel";

            // this.StateHasChanged();


        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, severity: Severity.Warning);
        }
    }

    private void CalculateTeklifDetay()
    {
        if (teklifDetay.Miktar.HasValue && teklifDetay.Fiyat.HasValue)
            teklifDetay.Tutar = Math.Round(teklifDetay.Miktar.Value * teklifDetay.Fiyat.Value, 2);
        else
            teklifDetay.Tutar = 0;

        if (teklifDetay.Dovizkuru.HasValue)
            teklifDetay.Tutartl = Math.Round(teklifDetay.Tutar.Value * teklifDetay.Dovizkuru.Value, 2);
        else
            teklifDetay.Tutartl = 0;

        if (teklifDetay.Iskyuz1.HasValue)
            teklifDetay.Isktut1 = Math.Round((teklifDetay.Tutar.Value * teklifDetay.Iskyuz1.Value) / 100,2);
        else
            teklifDetay.Isktut1 = 0;

        if (teklifDetay.Iskyuz2.HasValue)
            teklifDetay.Isktut2 = Math.Round(((teklifDetay.Tutar.Value - teklifDetay.Isktut1.Value) * teklifDetay.Iskyuz2.Value) / 100,2);
        else
            teklifDetay.Isktut2 = 0;

        if (teklifDetay.Iskyuz3.HasValue)
            teklifDetay.Isktut3 = Math.Round(((teklifDetay.Tutar.Value - teklifDetay.Isktut2.Value - teklifDetay.Isktut1.Value) * teklifDetay.Iskyuz3.Value) / 100,2);
        else
            teklifDetay.Isktut3 = 0;

        if (teklifDetay.Iskyuz4.HasValue)
            teklifDetay.Isktut4 = Math.Round(((teklifDetay.Tutar.Value - teklifDetay.Isktut2.Value - teklifDetay.Isktut1.Value - teklifDetay.Isktut3.Value) * teklifDetay.Iskyuz4.Value) / 100,2);
        else
            teklifDetay.Isktut4 = 0;

        teklifDetay.Kdvmatrah = teklifDetay.Tutar.Value - teklifDetay.Isktut1.Value - teklifDetay.Isktut2.Value - teklifDetay.Isktut3.Value - teklifDetay.Isktut4.Value;
        teklifDetay.Kdvtut = Math.Round((teklifDetay.Kdvmatrah.Value * (teklifDetay.Kdvyuz.HasValue ? teklifDetay.Kdvyuz.Value : 0)) / 100,2);
        teklifDetay.Nettutar = teklifDetay.Kdvmatrah.Value + teklifDetay.Kdvtut.Value;
    }


}
